@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://p.typekit.net/p.css?s=1&k=kjq8myi&ht=tk&f=28973.28988.49126.49128.49133&a=84490210&app=typekit&e=css");

@font-face {
  font-family: "Rift";
  src: url("https://use.typekit.net/af/af021d/00000000000000007735b21d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/af021d/00000000000000007735b21d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/af021d/00000000000000007735b21d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Rift";
  src: url("https://use.typekit.net/af/ede55a/00000000000000007735b228/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/ede55a/00000000000000007735b228/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/ede55a/00000000000000007735b228/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Elza-text";
  src: url("https://use.typekit.net/af/d053a5/00000000000000007735f93a/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/d053a5/00000000000000007735f93a/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/d053a5/00000000000000007735f93a/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3")
      format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@font-face {
  font-family: "Elza-text";
  src: url("https://use.typekit.net/af/fe1dfd/00000000000000007735f93e/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/fe1dfd/00000000000000007735f93e/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("woff"),
    url("https://use.typekit.net/af/fe1dfd/00000000000000007735f93e/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n3&v=3")
      format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}

@font-face {
  font-family: "Elza-text";
  src: url("https://use.typekit.net/af/9b4894/00000000000000007735f938/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/9b4894/00000000000000007735f938/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/9b4894/00000000000000007735f938/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3")
      format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}

@font-face {
  font-family: "Elza-text";
  src: url("https://use.typekit.net/af/aa2b05/00000000000000007735f937/30/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/aa2b05/00000000000000007735f937/30/d?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("woff"),
    url("https://use.typekit.net/af/aa2b05/00000000000000007735f937/30/a?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n5&v=3")
      format("opentype");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: "Wilson-wells";
  src: url("../fonts/Wilson-wells.eot");
  src: url("../fonts/Wilson-wells.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Wilson-wells.woff2") format("woff2"),
    url("../fonts/Wilson-wells.woff") format("woff"),
    url("../fonts/Wilson-wells.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gin-lines";
  src: url("../fonts/Gin-Lines.eot");
  src: url("../fonts/Gin-Lines.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gin-Lines.woff2") format("woff2"),
    url("../fonts/Gin-Lines.woff") format("woff"),
    url("../fonts/Gin-Lines.ttf") format("truetype"),
    url("../fonts//Gin-Lines.svg#/Gin-Lines") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gin-regular";
  src: url("../fonts/Gin-Regular.eot");
  src: url("../fonts/Gin-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gin-Regular.woff2") format("woff2"),
    url("../fonts/Gin-Regular.woff") format("woff"),
    url("../fonts/Gin-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.gin-regular {
  font-family: "Gin-regular", sans-serif;
}

.gin-lines {
  font-family: "Gin-lines", sans-serif;
}

.wilson {
  font-family: "Wilson-wells", serif;
}

.rift {
  font-family: "Rift", sans-serif;
}

.elza {
  font-family: "Elza-text", sans-serif;
}

.markdown a {
  transition: all 300ms;
  color: #9c794f;
}
.markdown a:hover {
  color: #707070;
}
